.icon{
    content:'';
    padding: .4em .8em;
    display: inline-flex;
    align-items: center;

    -webkit-mask-size: 20px 20px;
    -webkit-mask-repeat: no-repeat;

    background-color: #000;

    width: 20px;
    height: 20px;


    text-indent: -999px;

    transition: .5s;

    box-sizing: border-box;

}
.icon:hover{
    background-color: blue;
}


.icon-menu{
    -webkit-mask-image: url(../image/menu.svg);
}
.icon-write{
    -webkit-mask-image: url(../image/write.svg);
}
.icon-heart{
    -webkit-mask-image: url(../image/heart.svg);
}
    .icon-heart:hover{
        -webkit-mask-image: url(../image/heart-red.svg);
        background-color: red;
    }
.icon-trash{
    -webkit-mask-image: url(../image/trash.svg);
}
.icon-category{
    -webkit-mask-image: url(../image/category.svg);
}
.icon-home{
    -webkit-mask-image: url(../image/home.svg);
}
.icon-login{
    -webkit-mask-image: url(../image/login.svg);
}
.icon-note{
    -webkit-mask-image: url(../image/note.svg);
}
.icon-food{
    -webkit-mask-image: url(../image/food.svg);
}
.icon-smile{
    -webkit-mask-image: url(../image/smile.svg);
}
.icon-picture{
    -webkit-mask-image: url(../image/picture.svg);
}
.icon-report{
    -webkit-mask-image: url(../image/report.svg);
}
.icon-miniMenu{
    -webkit-mask-image: url(../image/miniMenu.svg);
}
.icon-ticket{
    -webkit-mask-image: url(../image/ticket.svg);
}
.icon-corporate{
    -webkit-mask-image: url(../image/corporate.svg);
}
.icon-chart{
    -webkit-mask-image: url(../image/chart.svg);
}
.icon-exhibition{
    -webkit-mask-image: url(../image/exhibition.svg);
}
.icon-board{
    -webkit-mask-image: url(../image/board.svg);
}
.icon-search{
    -webkit-mask-image: url(../image/search.svg);
}
.icon-calendar{
    -webkit-mask-image: url(../image/calendar.svg);
}
.icon-toggle-down{
    -webkit-mask-image: url(../image/toggleDown.svg);
}
.icon-toggle-up{
    -webkit-mask-image: url(../image/toggleUp.svg);
}



