
/* ============================================================ */

.menu{
    padding: 20px 0;

    border-bottom: 1px solid #707070;
}
.menu:last-child{
    border: none;
}

.menu form{
    display: grid;
    grid-template: 
    "img title title" 24px
    "img price option" 24px
    "img button button " 32px
    / 80px 60px 1fr    ;
}
    .menu form>h1{
        grid-area: title;
        margin-left: 10px;

        font-size: 15px;
    }
    .menu-img-box{
        grid-area: img;

    }
    .menu-img{
        width: 80px;
        height: 80px;
        border-radius: 40px;

        object-fit: cover;

    }

    .menu-price{
        grid-area: price;
        margin-left: 10px;
    }
    .menu-option-list{
        grid-area: option;
        justify-self: flex-end;
    }
    .menu-button-list{
        grid-area: button;
        justify-self: flex-end;
    }


.menu-option-input{
    width: 12px;
    height: 12px;

    border: 1px solid #A24F17;


}

.menu-option-input-on{
    background-color: #A24F17;
}

.menu-option{
    display: inline-flex;
    align-items: center;

}
.menu-option .menu-option-input{
    margin-right: 5px;
}


/* ========================================================= */

@media (min-width: 768px) {
    .menu-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 20px;
        
        /* justify-content: space-between; */
        /* display: flex;
        justify-content: space-between; */

        

    }

    .menu{
        padding: 0 0 10px 0;
        /* width: 200px; */
        border: 1px solid #707070;
        /* margin: 5px; */

        flex-shrink: 0;
        /* flex-grow: 1; */
    }
        .menu:last-child{
            border: 1px solid #707070;
        }
    .menu form{
        display: grid;
        grid-template: 
        "img img" 130px
        "title price" 30px
        "option option" 30px
        "button button" 40px
        / 1fr 70px    ;

    }
    .menu form>h1{
        justify-self: flex-start;

        align-self: center;
    }
    .menu-img{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .menu-price{
        justify-self: flex-end;
        align-self: center;

        margin-right: 10px;
    }
    .menu-option-list{
        justify-self: center;

        display: flex;
        align-items: center;
    }
    .menu-button-list{
        justify-self: center;

        display: flex;
        align-items: center;
    } 



}