.icon{
    /* text */
    overflow: hidden;
    text-indent: -999px;
    /* layout */
    box-sizing: border-box;
    background-size: 16px 16px;

    /* item-layout */
     display: inline-flex;
    width: 24px;
    height: 24px;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    
    background-color: #000;

}

.icon-menu{
    -webkit-mask-image: url(../../image/menu.svg);

}
.icon-location{

}
.icon-note{
    
}


/* ----- icon util ---------------------------- */
.icon-white{
    background-color: #fff;
}
.icon-black{
    background-color: #000;
}
